.image {
  display: block;
  margin: auto;
}

.logo {
  width: 80vw;
  height: auto;
  padding-top: 4vw;
  padding-bottom: 8vw;
}

.food {
  width: 20vw;
  height: 20vw;
}

.subheading {
  font-size: 7.0vw;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.subheading1 {
  color: orange;
}

.subheading2 {
  color:black;
  font-style: italic;
}

.text {
  font-size: 5.0vw;
  font-family:'Courier New', Courier, monospace;
}

.text-price {
  font-size: 5.0vw;
  text-align: end;
}

.text-quantity {
  text-align: center;
}

.button {
  background-color: rgb(241, 241, 255);
  text-align: center;
  border: 2px solid black;
  width: fit-content;
}

.button-checkout {
  border-radius: 15px;
  font-size: 3.5vw;
  margin: 0.0px;
}

.button-quantity {
  border-radius: 50%;
  font-size: 4.0vw;
  padding: 0.0vw 1.5vw;
}

#item_card {
  padding: 3vw;
}